@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Navigate to the UserReportSystem in the top left to make and view reports</a>.</p>
</div>
